# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=1

# Blockchain Configuration
RPC_URL=https://sepolia.base.org
PRIVATE_KEY=your_private_key_here

# Contract Configuration
CONTRACT_ADDRESS=0xff3F84978B81f0457584919213fdDeBD579E74B1